@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* header.css */
*{
  box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F2F2F2;
  color: #644F9C;
}

.brand-title{
  font-size: 1.5rem;
  margin: 0.5rem;

}
.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;

}
.navbar-links li{
list-style: none;
}

.navbar-links li a{
  text-decoration: none;
  color: #644F9C;
  padding: 0.5rem;
  display: block;
}

.navbar-links li:hover{
  color: blueviolet;
}

.toggle-button{
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;

}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: rgb(8, 8, 8);
  border-radius: 10px;

}

@media (max-width:400px) {
  .toggle-button{
        display: flex;
  }

  .navbar-links{
        display: none;
        width: 100%;
  }
  .navbar{
        flex-direction: column;
        align-items: flex-start;
  }

  .navbar-links ul{
        width: 100%;
        flex-direction: column;

  }
  .navbar-links li{
        text-align: center;
  }

  .navbar-links li a{
        padding: .5rem 1rem;
  }
  .navbar-links.active{
        display: flex;
  }

  
}
